<!--
<div class="container">
    <div class="row" id="login-container">
        <div class="span8 offset4">
            <input type="text" ng-model="queryTerm" placeholder="What are you looking for?"
                   class="input-large" ng-change="search()">
        </div>
    </div>
</div>

<div class="row-fluid" infinite-scroll="show_more()" >

    <div class="span3">
        <div ng-repeat="hashtag in resultsArr[0].facets.Hashtag.terms">
            <a ng-click="filter('hashtag.text', hashtag.term)">
                <label ng-bind-html="renderFacetItem(hashtag.term, hashtag.count)"></label>
            </a>
        </div>
        <a ng-click="resetFilter()"><label ng-bind-html="isFiltered()"></label></a>
    </div>


    <div class="span9">
        <table class="table table-striped table-bordered table-hover">
            <tbody ng-repeat="results in resultsArr">
                <tr ng-repeat="doc in results.hits.hits">
                    <td>
                        <img src="{{ doc.fields.user.profile_image_url }}">
                    </td>
                    <td>
                        <div ng-bind-html="renderResult(doc)"></div>
                        <small ng-bind-html="renderResultMetadata(doc)"></small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
-->
<div class="container">
    <div class="row" id="login-container">
        <div class="span8 offset4">
            <input type="text" ng-model="queryTerm" placeholder="O que você está procurando?"
                   class="input-large" ng-change="search()">
        </div>
    </div>
</div>

<div class="row-fluid" infinite-scroll="show_more()" >


    <div class="span9">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Assunto</th>
                    <th>Última Atualização</th>
                </tr>
            </thead>
            <tbody ng-repeat="results in resultsArr">
                <tr ng-repeat="doc in results.hits.hits">
                    <!--<div ng-bind-html="renderResult(doc)"></div>-->
                    <td>{{ doc.fields.numero.0 }}</td>
                    <td>{{ doc.fields.assunto.0 }}</td>
                    <td>{{ doc.fields.atualizado_em.0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>