/* when hiding the thing */

.ng-hide-add {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
/* when showing the thing */

.ng-hide-remove {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.cssSlideUp {
    transition-delay: 1s;
    height: 500px;
    overflow: hidden;
    opacity: 100%;
}
.cssSlideUp.ng-hide {
    opacity: 0;
    height:0;
}

.showResults {
    opacity: 1;

}

.showResults.ng-hide {
    opacity: 0;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}