@amarelo: #F5C323;
@branco: #ffffff;
@creme: #FFE7C1; 
@bgtitle: #262626;
@bgdetails: #333333;
@bgpartes: #505050;

.center-block {
    margin: 0 auto;
}

.gimmespace {
    margin-top: 80px;  
}

.removespace {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

.ruler {
    border-left: 1px solid black;   
}

h1 {
    font-weight: 100;  
}

.wd-nav {
    background: #000;   
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border: 0.15em solid #808080;
    border-radius: 0.5em;
    text-align: center;
    }

    ::-webkit-input-placeholder {
    color: #808080;
    text-align: center;

    }

    :-moz-placeholder {
    color: #808080;
    text-align: center;

    }

.bigsearch {
    min-height: 80px; 
    min-width: 100%;
    border: none;
    background: black;
    font-size: 40px;
}

.movsearch {
    min-height: 40px; 
    min-width: 100%;
    border: none;
    background: black;
    font-size: 20px;
}

.wd-search {
    background-color: #000;
    height: 80px;
}

.wd-title {
    background-color: @bgtitle;
    height: 80px;
    padding: 10px 0;
    color: @amarelo;
}

.wd-details {
    background-color: @bgdetails;
    padding: 30px 0;
    
    h5 {
     color: @creme;   
    }
}

.wd-moredetails {
    background-color: @bgdetails;
    padding: 20px 0;
    
    h5 {
     color: @creme;   
    }
}

.wd-partes {
    background-color: @bgpartes;
    padding: 50px; 
    
    .vs {
        color: @bgdetails;
        font-size: 60px;
    }

    h5 {
        color: @amarelo;   
    }
}

.wd-advogados {
    background-color: @bgdetails;
    padding: 25px;
    
    h5 {
        color: @creme;
    }
    
    h4 {
        padding: 0;
        margin: 0;
    }
}

.wd-movimentacoes {
    padding: 20px;
    
    h5 {
        color: @creme;   
    }
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 49%;
}


