<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>w a l k i n g . d e a d • w e . e a t . i n f o r m a t i o n</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../static/less/bootstrap.css">
    <link rel="stylesheet" href="../static/css/hacks.css">
    <link rel="stylesheet" href="../static/css/selectize.css">
    <link rel="stylesheet" href="../static/css/bootstrap-sortable.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/selectize.js"></script>
    <script src="../static/js/bootstrap-sortable.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid wd-nav">
        <div class="row">
            <div class="col-sm-12">
                <input class="form-control input bigsearch" type="text" placeholder="">
            </div>
        </div>
    </div>
<!--TITULO-->
    <div class="container-fluid wd-title">
        <div class="container">
            <div class="col-sm-12">
                {% if adv %}
                <h3>{{ total }} RESULTADOS PARA "{{ adv }}"</h3>
                {% else %}
                <h3>Necessita buscar por um advogado não???</h3>
                {% endif %}
            </div>
        </div>
    </div>

    <hr>

<!--LISTAGEM RESULTADOS-->

    <div class="container-fluid wd-movimentacoes">
        {% if adv %}

        <div class="container">
                    <table class="table table-hover sortable">
                    <thead>
                        <tr>
                            <th><h5>Nº PROCESSO</h5></th>
                            <th><h5>CLASSE</h5></th>
                            <th><h5>INSTÂNCIA</h5></th>
                            <th><h5>TRIBUNAL</h5></th>
                            <th><h5>ÚLTIMA MOVIMENTAÇÃO</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in adv.processos %}
                        <tr>
                            <td><a href="/referencias/processo/{{ d.numero }}">{{ d.numero }}</a></td>
                            <td>{{ d.classe }}</td>
                            <td>{{ d.instancia }}</td>
                            <td>{{ d.tribunal }}</td>
                            <td>{{ d.movimentacoes[0].data.strftime('%d/%m/%Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>

        {% endif %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29092719-10', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
