<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>w d . p r o j e c t • w e . e a t . i n f o r m a t i o n</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../static/less/bootstrap.css">
    <link rel="stylesheet" href="../static/css/hacks.css">
    <link rel="stylesheet" href="../static/css/selectize.css">
    <link rel="stylesheet" href="../static/css/animations.css">
    <link rel="stylesheet" href="../static/css/bootstrap-sortable.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/selectize.js"></script>
    <script src="../static/js/bootstrap-sortable.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="animateApp" ng-controller="mainController">
    <!--
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WD Project</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>.nav-collapse
            </div>
        </nav>
    -->

    <div class="container cssSlideUp" id="indexTop" ng-hide="queryTerm.length > 2">
        <div class="row gimmespace">
            <div class="col-sm-12 text-center">
                <h3>w e . e a t . i n f o r m a t i o n</h3><br>
                <img class="img-responsive center-block" src="../static/img/zombie.png">
                
            </div>
        </div>
    </div>
    <div class="container-fluid wd-search">
        <div class="col-sm-12">
            <input id="searchbar" ng-model="queryTerm" type="text"
                   class="form-control input bigsearch" ng-change="buscar()"
                   placeholder="taca-lhe pau neste carrinho, marcos!">
        </div>
    </div>
<!--
    <div class="container">
        <div class="col-sm-12 text-center" id="counter"><h4>7.003.453,43 PROCESSOS DEVORADOS</h4></div>
    </div>
-->

    
<!--***************************************************-->
    
<div class="container-fluid removespace showResults" id="listaresultados" ng-show="queryTerm.length > 2">
<!--TITULO-->
    <div class="container-fluid wd-title">
        <div class="container">
            <div class="col-sm-12">
                <h3>RESULTADOS PARA "{{ queryTerm }}"</h3>
            </div>
        </div>
    </div>
    
<!--FILTROS-->
    <div class="container-fluid wd-details">
        <div class="container">
<!--FILTRO DATA-->
            <div class="col-sm-3">
                <h5>FILTRAR POR DATA</h5>
                <div class="control-group">
					<select id="select-data" class="demo-default" placeholder="Selecione um período">
						<option value="1">Últimos 7 dias</option>
						<option value="2">Últimos 15 dias</option>
						<option value="3">Últimos 30 dias</option>
						<option value="4">Últimos 6 meses</option>
                        <option value="5">Exibir tudo</option>
					</select>
				</div>
				<script>
				$('#select-data').selectize({
                    create: true
                });
				</script>
            </div>
            
<!--FILTRO INSTÂNCIA-->
            <div class="col-sm-3">
                <h5>INSTÂNCIA</h5>
                <div class="control-group">
					<select id="select-instancia" class="demo-default" placeholder="Selecione">
						<option value="1">Todas</option>
						<option value="2">1º Grau</option>
						<option value="3">2º Grau</option>
					</select>
				</div>
				<script>
				$('#select-instancia').selectize({
					create: true
				});
				</script>
            </div>
<!--FILTRO TRIBUNAL-->
            <div class="col-sm-3">
                <h5>TRIBUNAL</h5>
                <div class="control-group">
					<select id="select-tribunal" class="demo-default" placeholder="">
                        <option value="0">Todos os TRT's</option>
						<option value="1">TRT 1º</option>
                        <option value="2">TRT 2º</option>
                        <option value="3">TRT 3º</option>
                        <option value="4">TRT 4º</option>
                        <option value="5">TRT 5º</option>
                        <option value="6">TRT 6º</option>
                        <option value="7">TRT 7º</option>
                        <option value="8">TRT 8º</option>
                        <option value="9">TRT 9º</option>
                        <option value="10">TRT 10º</option>
                        <option value="11">TRT 11º</option>
                        <option value="12">TRT 12º</option>
                        <option value="13">TRT 13º</option>
                        <option value="14">TRT 14º</option>
                        <option value="15">TRT 15º</option>
                        <option value="16">TRT 16º</option>
                        <option value="17">TRT 17º</option>
                        <option value="18">TRT 18º</option>
                        <option value="19">TRT 19º</option>
                        <option value="20">TRT 20º</option>
                        <option value="21">TRT 21º</option>
                        <option value="22">TRT 22º</option>
                        <option value="23">TRT 23º</option>
                        <option value="24">TRT 24º</option>

					</select>
				</div>
				<script>
				$('#select-tribunal').selectize({
					create: true

				});
				</script>
            </div>

        </div>
    </div>
    
    <hr>
    
<!--LISTAGEM RESULTADOS-->
    <div class="container-fluid wd-movimentacoes">
        <div class="container">
            <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th><h5>Nº PROCESSO</h5></th>
                    <th><h5>CLASSE</h5></th>
                    <th><h5>INSTÂNCIA</h5></th>
                    <th><h5>TRIBUNAL</h5></th>
                    <th><h5>ÚLTIMA MOVIMENTAÇÃO</h5></th>
                </tr>
            </thead>
            <tbody ng-repeat="">
                <tr ng-repeat="">
                    <td>asd</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    
    
</div>
<!--
<div id="loading" ng-show="queryTerm.length > 2">
    <div class="content text-center">
        <img src="../static/img/loading_zombie.gif">
        <h4 class="text-center">Aguarde<br>Estamos buscando.</h4>
    </div>
</div>
-->



    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-animate.js"></script>
    <script src="../static/js/elastic.min.js"></script>
    <script src="../static/js/elastic-angular-client.min.js"></script>
    <script>
        angular.module('animateApp', ['ngAnimate'])
        .controller('mainController', function($scope) {
            activeFilters = {};
            $scope.resultsArr = [];
            if (!$scope.queryTerm == '') {
                results = statusRequest
                    .query(applyFilters(ejs.MatchQuery('_all', $scope.queryTerm)))
                    .fields(['_id', 'numero', 'classe', 'instancia', 'tribunal', 'atualizado_em'])
                    .doSearch();
                $scope.resultsArr.push(results);
            } else {
                results = {};
                $scope.resultsArr = [];
                activeFilters = {};
            }
        });
    </script>


</body>

</html>
