<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>w a l k i n g . d e a d • w e . e a t . i n f o r m a t i o n</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/static/less/bootstrap.css">
    <link rel="stylesheet" href="/static/css/hacks.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid wd-nav">
        <div class="row">
            <div class="col-sm-12">
                <input class="form-control input bigsearch" type="text" placeholder="">
            </div>
        </div>
    </div>
<!--TITULO-->
    <div class="container-fluid wd-title">
        <div class="container">
            <div class="col-sm-12">
                <h3>DETALHAMENTO DO PROCESSO</h3>
            </div>
        </div>
    </div>
    
<!--DETALHES-->
    <div class="container-fluid wd-details">
        <div class="container">
            <div class="col-sm-6">
                <h5>Nº PROCESSO</h5>
                <h4>{{ processo.numero }}</h4>
            </div>
            <div class="col-sm-2">
                <h5>INSTÂNCIA</h5>
                <h4>{{ processo.instancia }}º GRAU</h4>
            </div>
            <div class="col-sm-2">
                <h5>ÁREA</h5>
                {% if processo.area %}
                    <h4>{{ processo.area|capitalize }}</h4>
                {% else %}
                    <h4>Não foi encontrado</h4>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <h5>TRIBUNAL</h5>
                {% if processo.tribunal and processo.regiao %}
                    <h4>{{ processo.tribunal }} - {{ processo.regiao }}</h4>
                {% elif processo.tribunal %}
                    <h4>{{ processo.tribunal }}</h4>
                {% else %}
                    <h4>Não foi encontrado</h4>
                {% endif %}
            </div>
        </div>
    </div>
    
    <hr>
    
<!--DETALHES 2-->
    <div class="container-fluid wd-moredetails">
        <div class="container">
            <div class="col-sm-2 ruler">
                <h5>DATA DISTRIBUIÇÃO</h5>
                <p>{{ processo.data_distirbuicao }}</p>
            </div>
            <div class="col-sm-2 ruler">
                <h5>CLASSE</h5>
                {% if processo.classe %}
                    <p>{{ processo.classe|capitalize }}</p>
                {% else %}
                    <p>Não foi encotrado.</p>
                {% endif %}
            </div>
            <div class="col-sm-2 ruler">
                <h5>ÚLTIMA MOVIMENTAÇÃO</h5>
                {% if processo.movimentacoes %}
                    <p>{{ processo.movimentacoes[0].data.strftime('%d/%m/%Y') }}</p>
                {% else %}
                    <p>Não possui</p>
                {% endif %}
            </div>
            <div class="col-sm-6 ruler">
                <h5>ASSUNTO</h5>
                {% if processo.assunto %}
                    <p>{{ processo.assunto }}</p>
                {% else %}
                    <p>Não possui</p>
                {% endif %}
            </div>
        </div>
    </div>
    

    
<!--PARTES-->
    <div class="container-fluid wd-partes">
        <div class="container">
            <div class="col-sm-5 text-right ">
                <h5>{% if processo.partes %}{{processo.partes[0].tipo|upper}}{% else %}Não Possui.{%endif%}</h5>
                <h4>{% if processo.partes %}{{processo.partes[0].nome|upper}}{% else %}Não Possui.{%endif%}</h4>
            </div>
            <div class="col-sm-2 text-center vs">X</div>
            <div class="col-sm-5">
                <h5>{% if processo.partes %}{{processo.partes[1].tipo|upper}}{% else %}Não Possui.{%endif%}</h5>
                <h4>{% if processo.partes %}{{processo.partes[1].nome|upper}}{% else %}Não Possui.{%endif%}</h4>
            </div>
        </div>
    </div>
    
<!--PARTES ADVOGADOS-->
    <div class="container-fluid wd-advogados">
        <div class="container">
            <div class="col-sm-5 text-right">
                <h5>ADVOGADOS</h5>
                <h4>{% if processo.partes %}{{processo.partes[0].advogados[0]|upper}}{% else %}Não Possui.{%endif%}</h4>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <h5>ADVOGADOS</h5>
                <h4>{% if processo.partes %}{{processo.partes[1].advogados[0]|upper}}{% else %}Não Possui.{%endif%}</h4>
            </div>
        </div>
    </div>
    
    <hr>
    
<!--DETALHES 3-->
    <div class="container-fluid wd-moredetails">
        <div class="container">
            <div class="col-sm-3 ruler">
                <h5>ÓRGÃO DE ORIGEM</h5>
                <p>{{ processo.orgao_origem}}</p>
            </div>
            <div class="col-sm-3 ruler">
                <h5>VALOR</h5>
                <p>R$ {{ processo.valor }}</p>
            </div>
            <div class="col-sm-3 ruler">
                <h5>JUÍZ</h5>
                <p>{{ processo.juiz}}</p>
            </div>
            <div class="col-sm-3 ruler">
                <h5>LOCAL FÍSICO</h5>
                <p>{{ processo.local_fisico }}</p>
            </div>
        </div>
    </div>
    
    <hr>
    
<!--MOVIMENTAÇÕES-->
    <div class="container-fluid wd-title">
        <div class="container">
            <div class="col-sm-12">
                <h3>MOVIMENTAÇÕES</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid wd-movimentacoes">
        <div class="container">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th><h5>DATA</h5></th>
                    <th><h5>DESCRIÇÃO</h5></th>
                </tr>
            </thead>
            <tbody>
                {% for movimentacao in processo.movimentacoes %}
                    <tr>
                        <td>{{ movimentacao.data.strftime('%d/%m/%Y') }}</td>
                        <td>{{ movimentacao.descricao }}</td>
                    </tr>
                {%endfor%}
            </tbody>
            </table>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
