<!DOCTYPE html>
<html lang="" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>w d . p r o j e c t • w e . e a t . i n f o r m a t i o n</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../static/less/bootstrap.css">
    <link rel="stylesheet" href="../static/css/hacks.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="AppCtrl">
    <div class="container-fluid wd-nav">
        <div class="row">
            <div class="col-sm-12">
                <input class="form-control input bigsearch" type="text" placeholder="digite e aperte enter">
            </div>
        </div>
    </div>
    <!--TITULO-->
    <div class="container-fluid wd-title">
        <div class="container">
            <div class="col-sm-12">
                <h3>DETALHAMENTO DO PROCESSO</h3>
            </div>
        </div>
    </div>

    <!--DETALHES-->
    <div class="container-fluid wd-details">
        <div class="container">
            <div class="col-sm-6">
                <h5>Nº PROCESSO</h5>
                <h4>{{ processo.numero }}</h4>
            </div>
            <div class="col-sm-2">
                <h5>INSTÂNCIA</h5>
                <h4>{{ processo.instancia }}º GRAU</h4>
            </div>
            <div class="col-sm-2">
                <h5>ÁREA</h5>
                <h4>{{ processo.area|uppercase }}</h4>
            </div>
            <div class="col-sm-2">
                <h5>TRIBUNAL</h5>
                <h4>{{ processo.tribunal }}º - MG</h4>
            </div>
        </div>
    </div>

    <hr>

<!--DETALHES 2-->
    <div class="container-fluid wd-moredetails">
        <div class="container">
            <div class="col-sm-6 ruler">
                <h5>ASSUNTO</h5>
                <p>{{ processo.assunto || "Não Consta" }}</p>
            </div>
            <div class="col-sm-2 ruler">
                <h5>DATA DISTRIBUIÇÃO</h5>
                <p>{{ processo.distribuicao || "Não Consta" }}</p>
            </div>
            <div class="col-sm-2 ruler">
                <h5>CLASSE</h5>
                <p>{{ processo.classe || "Não Consta" }}</p>
            </div>
            <div class="col-sm-2 ruler">
                <h5>ÚLTIMA MOVIMENTAÇÃO</h5>
                <p>{{processo.movimentacoes.0.data}}</p>
            </div>
        </div>
    </div>

<!--PARTES-->
    <div class="container-fluid wd-partes">
        <div class="container">
            <div class="col-sm-5 text-right ">
                <h5>{{processo.partes.0.tipo|uppercase}}</h5>
                <h4>{{processo.partes.0.nome|uppercase}}</h4>
                <h5>ADVOGADOS</h5>
                <h4>{{processo.partes.0.advogados | uppercase}}</h4>
            </div>
            <div class="col-sm-2 text-center vs">X</div>
            <div class="col-sm-5">
                <h5>{{processo.partes.1.tipo|uppercase}}</h5>
                <h4>{{processo.partes.1.nome|uppercase}}</h4>
                <h5>ADVOGADOS</h5>
                <h4>{{processo.partes.1.advogados | uppercase}}</h4>
            </div>
        </div>
    </div>



    <hr>

<!--DETALHES 3-->
    <div class="container-fluid wd-moredetails">
        <div class="container">
            <div class="col-sm-3 ruler">
                <h5>ÓRGÃO DE ORIGEM</h5>
                <p>{{ processo.orgao_origem || "Não Consta" }}</p>
            </div>
            <div class="col-sm-3 ruler">
                <h5>VALOR</h5>
                <p>{{ processo.valor || "Não Consta" }}</p>
            </div>
            <div class="col-sm-3 ruler">
                <h5>JUÍZ</h5>
                <p>{{ processo.juiz || "Não Consta" }}</p>
            </div>
            <div class="col-sm-3 ruler">
                <h5>LOCAL FÍSICO</h5>
                <p>{{processo.local_fisico || "Não Consta"}}</p>
            </div>
        </div>
    </div>

    <hr>

<!--MOVIMENTAÇÕES-->
    <div class="container-fluid wd-title">
        <div class="container">
            <div class="col-sm-12">
                <h3>MOVIMENTAÇÕES</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid wd-movimentacoes">
        <div class="container">

            <input type="text" data-ng-model="tableSearch" class="form-control input movsearch" placeholder="procure dentro das movimentações" />
            <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2"><h5>DATA</h5></th>
                    <th><h5>DESCRIÇÃO</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-show="processo.movimentacoes.length <= 0">
                    <td colspan="5">Ainda não possui movimentações.</td>
                </tr>
                <tr data-ng-show="processo.movimentacoes.length > 0 && filteredProcessos.length <= 0">
                    <td colspan="5">Não possui movimentações para a sua pesquisa.</td>
                </tr>
                <tr ng-repeat="movimentacao in filteredProcessos = (processo.movimentacoes | dataFilter:tableSearch) ">
                    <td>{{ movimentacao.data }}</td>
                    <td>{{ movimentacao.descricao }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <a href="http://www.lab804.com.br" target="_blank"><img src="../static/img/logo_lab804.svg"  height="15px"></a><br><br>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://raw.github.com/rmm5t/jquery-timeago/master/jquery.timeago.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>
